table{
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
}
tr{
    height: 80px;
}
th,td{
    border: 2px solid black;
    text-align: center;
}
td{
    width: 20%;
    height: inherit;
}
td img{
    width: 100%;
    height: 100%;
}
td button{
    width: 50%;
    height: 80%;
    background-color: red;
    color: #fff;
    font-size: 25px;
}